@(raise_alert: Boolean, alert_message: String)

<html>

<head>
	
	<title>Ayuda - Cadastre-se</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>

<body>

	<script>

	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '197073330629482',
	      xfbml      : true,
	      version    : 'v2.5'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));

	  // This is called with the results from from FB.getLoginStatus().
	  function statusChangeCallback(response) {
	    console.log('statusChangeCallback');
	    console.log(response);
	    // The response object is returned with a status field that lets the
	    // app know the current login status of the person.
	    // Full docs on the response object can be found in the documentation
	    // for FB.getLoginStatus().
	    if (response.status === 'connected') {
	      // Logged into your app and Facebook.
	      testAPI();
	    } else if (response.status === 'not_authorized') {
	      // The person is logged into Facebook, but not your app.
	      document.getElementById('status').innerHTML = 'Please log ' +
	        'into this app.';
	    } else {
	      // The person is not logged into Facebook, so we're not sure if
	      // they are logged into this app or not.
	      document.getElementById('status').innerHTML = 'Please log ' +
	        'into Facebook.';
	    }
	  }

	  // This function is called when someone finishes with the Login
	  // Button.  See the onlogin handler attached to it in the sample
	  // code below.
	  function checkLoginState() {
	    FB.getLoginStatus(function(response) {
	      statusChangeCallback(response);
	    });
	  }


	  FB.getLoginStatus(function(response) {
	    statusChangeCallback(response);
	  });


	  function fillForm() {
	    console.log('Fetching information.... ');
	    FB.api('/me', {fields: 'name,email'} ,function(response) {
	      $("#form-name").val(response.name);
	      $("#form-email").val(response.email);
	    });
	  }

	  window.onload = function() {
			if (@raise_alert){
				alert("@alert_message");
			}
		};

	</script>

	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="/home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="/home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<p id="info"><b>Olá Visitante.</b><br>Entre no Ayuda! Clicando <a href="/cadastro.html"><b><i>AQUI</i></b></a></p>

				</div>
				
			</div>

			<a href="/home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="/cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="/login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_cadastro">
		
			<div class="ban_verde">

				<p class="titulo_bandeira"><i>cadastro</i></p>

			</div>

			<div class="caixas">

				<div class="caixinhas" id="cadastro_pessoa">
					<p class="titulo_caixinhas"><b>Cadastro Pessoal</b></p>
					<p class="subtitulos">caso não possua cadastro</p>
					
					<form action="/cadastrarVoluntario/" method="POST">
						<p class="opcoes"><b>Nome</b></p>
						<input name="nome" type="text" id="form-name"/>
							
						<p class="opcoes"><b>E-mail</b></p>
						<input name="usuario" type="text" id="form-email"/>
						
						<p class="opcoes"><b>CPF</b></p>
						<input name="CPF" type="text"/>
						
						<p class="opcoes"><b>Telefone</b></p>
						<input name="telefone" type="text"/>

						<p class="opcoes"><b>Senha</b></p>
						<input name="senha" type="password"/>
							
						<p class="opcoes"><b>Confirmação de Senha</b></p>
						<input name="confsenha_pessoa_cad" type="password"/>
						
						<button name="botao_cadastro_pessoa" id="but_cadastro" type="submit"></button>
						<!-- <input name="botao_cadastro_pessoa" id="but_cadastro" > -->
					</form>
				</div>

			</div>

			<div class="caixas">

				<div class="barras"></div>

			</div>

			<div class="caixas">

				<div class="caixinhas" id="cadastro_intituicao">

					<p class="titulo_caixinhas"><b>Cadastro Instituição</b></p>
					<p class="subtitulos">caso não possua cadastro</p>
				
					<p class="opcoes"><b>Nome da ONG</b></p>
					<input name="nome_ong_cad" type="text"/>
					
					<p class="opcoes"><b>E-mail</b></p>
					<input name="email_ong_cad" type="text"/>
						
					<p class="opcoes"><b>CNPJ</b></p>
					<input name="cnpj_ong_cad" type="text"/>
					
					<p class="opcoes"><b>Senha</b></p>
					<input name="senha_ong_cad" type="password"/>
						
					<p class="opcoes"><b>Confirmação de Senha</b></p>
					<input name="confsenha_ong_cad" type="password"/>
					
					<button name="botao_cadastro_ong" id="but_cadastro"></button>

				</div>

			</div>

			<div class="caixas">

				<div class="barras"></div>

			</div>

			<div class="caixas">

				<div class="caixinhas" id="cadastro_redesocial">
					<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true" data-scope="email public_profile"></div>
				</div>

				<button class="round-button-circle" onclick="fillForm()">Import Facebook data!</button>

			</div>

		</div>

		<div class="caixam" id="rodape">

				<a href="/home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>
</html>