@(raise_alert: Boolean, alert_message: String)

<html>

<head>
	
	<title>Ayuda - Cadastre-se</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
	
	<script>
		window.onload = function() {
			if (@raise_alert){
				alert("@alert_message");
			}
  			yourFunction(param1, param2);
		};
	</script>
	
	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<p id="info"><b>Olá Visitante.</b><br>Entre no Ayuda! Clicando <a href="cadastro.html"><b><i>AQUI</i></b></a></p>

				</div>
				
			</div>

			<a href="home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_cadastro">
		
			<div class="ban_verde">

				<p class="titulo_bandeira"><i>cadastro</i></p>

			</div>

			<div class="caixas">

				<div class="caixinhas" id="cadastro_pessoa">
					<p class="titulo_caixinhas"><b>Cadastro Pessoal</b></p>
					<p class="subtitulos">caso não possua cadastro</p>
					
					<form action="cadastrarVoluntario/" method="POST">
						<p class="opcoes"><b>Nome</b></p>
						<input name="nome" type="text"/>
							
						<p class="opcoes"><b>E-mail</b></p>
						<input name="usuario" type="text"/>
						
						<p class="opcoes"><b>CPF</b></p>
						<input name="CPF" type="text"/>
						
						<p class="opcoes"><b>Telefone</b></p>
						<input name="telefone" type="text"/>

						<p class="opcoes"><b>Senha</b></p>
						<input name="senha" type="password"/>
							
						<p class="opcoes"><b>Confirmação de Senha</b></p>
						<input name="confsenha_pessoa_cad" type="password"/>
						
						<button name="botao_cadastro_pessoa" id="but_cadastro" type="submit"></button>
						<!-- <input name="botao_cadastro_pessoa" id="but_cadastro" > -->
					</form>
				</div>

			</div>

			<div class="caixas">

				<div class="barras"></div>

			</div>

			<div class="caixas">

				<div class="caixinhas" id="cadastro_intituicao">

					<p class="titulo_caixinhas"><b>Cadastro Instituição</b></p>
					<p class="subtitulos">caso não possua cadastro</p>
				
					<p class="opcoes"><b>Nome da ONG</b></p>
					<input name="nome_ong_cad" type="text"/>
					
					<p class="opcoes"><b>E-mail</b></p>
					<input name="email_ong_cad" type="text"/>
						
					<p class="opcoes"><b>CNPJ</b></p>
					<input name="cnpj_ong_cad" type="text"/>
					
					<p class="opcoes"><b>Senha</b></p>
					<input name="senha_ong_cad" type="password"/>
						
					<p class="opcoes"><b>Confirmação de Senha</b></p>
					<input name="confsenha_ong_cad" type="password"/>
					
					<button name="botao_cadastro_ong" id="but_cadastro"></button>

				</div>

			</div>

			<div class="caixas">

				<div class="barras"></div>

			</div>

			<div class="caixas">

				<div class="caixinhas" id="cadastro_redesocial">

					<p class="titulo_caixinhas"><b>Cadastre-se por uma rede social</b></p>
					<p class="subtitulos">acesso rápido</p>
						
					<p class="opcoes"><b>Utilizando Facebook</b></p>

					<p class="opcoes"><b>OU</b></p>

					<p class="opcoes"><b>Utilizando Twitter</b></p>
						
					<p class="opcoes"><b>OU</b></p>

					<p class="opcoes"><b>Utilizando Google+</b></p>

				</div>

			</div>

		</div>

		<div class="caixam" id="rodape">

				<a href="home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>
</html>