<html>

<head>

	<title>Ayuda - Início</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<p id="info"><b>Olá Visitante.</b><br>Entre no Ayuda! Clicando <a href="cadastro.html"><b><i>AQUI</i></b></a></p>

				</div>
				
			</div>

			<a href="home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_video">

			<div class="ban_verde">

				<p class="titulo_bandeira"><i>ayuda?</i></p>

			</div>

			<div class="video_youtube_home" id="resumo_projeto_home"></div>

			<div class="video_youtube_home">

				<iframe width="640" height="390" src="http://www.youtube.com/embed/ndb3uaGdy28"></iframe>

			</div>

		</div>

		<div class="caixam" id="last_days">
		
			<div class="ban_vermelha">

				<a href=""><p class="titulo_bandeira"><i>últimos dias</i></p></a>

			</div>

			<div class="projeto">

				<div class="foto">

					<a href="projeto.html"><img src="imagens/foto.png"></a>

				</div>

				<div class="textosprojetos">

					<a href=""><p class="titulo_projeto"><b>Projeto Ano Valioso dos Senhores</b></p></a>

					<p class="ong_resp"><i>ONG do Menino Jesus</i></p>

					<p class="resumo_projeto">Lorem ipsum dolor sit amet, conetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</p>

				</div>

				<div class="barra_progresso">

					<div class="barra_verde">

					</div>

				</div>

				<div class="info_projeto">

					<p class="valor"><b>R$ 1.329,00</b></p>
					<p class="levantados">levantados</p>

				</div>

				<div class="info_projeto">

					<p class="dias_urgente"><b>10 dias</b></p>
					<p class="restantes">restantes</p>

				</div>

			</div>

			<div class="projeto">

				<div class="foto">

					<a href=""><img src="imagens/foto.png"></a>

				</div>

				<div class="textosprojetos">

					<a href=""><p class="titulo_projeto"><b>Salvando Vidas</b></p></a>

					<p class="ong_resp"><i>Sociação</i></p>

					<p class="resumo_projeto">Lorem ipsum dolor sit amet, conetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

				</div>

				<div class="barra_progresso">

					<div class="barra_verde">

					</div>

				</div>

				<div class="info_projeto">

					<p class="valor"><b>R$ 3.500,00</b></p>
					<p class="levantados">levantados</p>

				</div>

				<div class="info_projeto">

					<p class="dias_urgente"><b>23 horas</b></p>
					<p class="restantes">restantes</p>

				</div>

			</div>

			<div class="projeto">

				<div class="foto">

					<a href=""><img src="imagens/foto.png"></a>

				</div>

				<div class="textosprojetos">

					<a href=""><p class="titulo_projeto"><b>Projeto Ano Valioso </b></p></a>

					<p class="ong_resp"><i>Grupo Ambientalista da Bahia</i></p>

					<p class="resumo_projeto">Lorem ipsum dolor sit amet, conetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. </p>

				</div>

				<div class="barra_progresso">

					<div class="barra_verde">

					</div>

				</div>

				<div class="info_projeto">

					<p class="valor"><b>R$ 560,00</b></p>
					<p class="levantados">levantados</p>

				</div>

				<div class="info_projeto">

					<p class="dias_urgente"><b>8 dias</b></p>
					<p class="restantes">restantes</p>

				</div>

			</div>

			<div class="projeto">

				<div class="foto">

					<a href=""><img src="imagens/foto.png"></a>

				</div>

				<div class="textosprojetos">

					<a href=""><p class="titulo_projeto"><b>Projeto Ano Valioso dos Senhores</b></p></a>

					<p class="ong_resp"><i>CEBI - Centro de Estudos Bíblicos</i></p>

					<p class="resumo_projeto">Lorem ipsum dolor sit amet, conetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy conetuer auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu.</p>

				</div>

				<div class="barra_progresso">

					<div class="barra_verde">

					</div>

				</div>

				<div class="info_projeto">

					<p class="valor"><b>R$ 125,00</b></p>
					<p class="levantados">levantados</p>

				</div>

				<div class="info_projeto">

					<p class="dias_urgente"><b>9 dias</b></p>
					<p class="restantes">restantes</p>

				</div>

			</div>

			<a href="home.html"><div class="but_veja">

				<p id="ultimos_dias">Veja outros "últimos dias"</p>

			</div></a>


		</div>
	
		<div class="caixam" id="new_projects">
		
			<div class="ban_verde">

				<a href=""><p class="titulo_bandeira"><i>novos projetos</i></p></a>

			</div>

			<div class="projeto">

				<div class="foto">

					<a href=""><img src="imagens/foto.png"></a>

				</div>

				<div class="textosprojetos">

					<a href=""><p class="titulo_projeto"><b>Projeto Ano Valioso</b></p></a>

					<p class="ong_resp"><i>Grupo Ambientalista da Bahia</i></p>

					<p class="resumo_projeto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa.</p>

				</div>

				<div class="barra_progresso">

					<div class="barra_verde">

					</div>

				</div>

				<div class="info_projeto">

					<p class="valor"><b>R$ 560,00</b></p>
					<p class="levantados">levantados</p>

				</div>

				<div class="info_projeto">

					<p class="dias_normal"><b>60 dias</b></p>
					<p class="restantes">restantes</p>

				</div>

			</div>

			<div class="projeto">

				<div class="foto">

					<a href=""><img src="imagens/foto.png"></a>

				</div>

				<div class="textosprojetos">

					<a href=""><p class="titulo_projeto"><b>Projeto Ano Valioso dos Senhores</b></p></a>

					<p class="ong_resp"><i>CEBI - Centro de Estudos Bíblicos</i></p>

					<p class="resumo_projeto">Lorem ipsum dolor sit amet, conetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque conetuer habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus.</p>

				</div>

				<div class="barra_progresso">

					<div class="barra_verde">

					</div>

				</div>

				<div class="info_projeto">

					<p class="valor"><b>R$ 125,00</b></p>
					<p class="levantados">levantados</p>

				</div>

				<div class="info_projeto">

					<p class="dias_normal"><b>36 dias</b></p>
					<p class="restantes">restantes</p>

				</div>

			</div>

			<div class="projeto">

				<div class="foto">

					<a href=""><img src="imagens/foto.png"></a>

				</div>

				<div class="textosprojetos">

					<a href=""><p class="titulo_projeto"><b>Projeto Ano Valioso dos Senhores</b></p></a>

					<p class="ong_resp"><i>ONG do Menino Jesus</i></p>

					<p class="resumo_projeto">Lorem ipsum dolor sit amet, conetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus conetuer magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</p>

				</div>

				<div class="barra_progresso">

					<div class="barra_verde">

					</div>

				</div>

				<div class="info_projeto">

					<p class="valor"><b>R$ 1.329,00</b></p>
					<p class="levantados">levantados</p>

				</div>

				<div class="info_projeto">

					<p class="dias_normal"><b>31 dias</b></p>
					<p class="restantes">restantes</p>

				</div>

			</div>

			<div class="projeto">

				<div class="foto">

					<a href=""><img src="imagens/foto.png"></a>

				</div>

				<div class="textosprojetos">

					<a href=""><p class="titulo_projeto"><b>Salvando Vidas</b></p></a>

					<p class="ong_resp"><i>Sociação</i></p>

					<p class="resumo_projeto">Lorem ipsum dolor sit amet, conetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. conetuer Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

				</div>

				<div class="barra_progresso">

					<div class="barra_verde">

					</div>

				</div>

				<div class="info_projeto">

					<p class="valor"><b>R$ 3.500,00</b></p>
					<p class="levantados">levantados</p>

				</div>

				<div class="info_projeto">

					<p class="dias_normal"><b>29 dias</b></p>
					<p class="restantes">restantes</p>

				</div>

			</div>

			<a href="home.html"><div class="but_veja">

				<p id="novos_projetos">Veja outros "novos projetos"</p>

			</div></a>

			

		</div>

		<div class="caixam" id="rodape">

				<a href="home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>
</html>