<html>

<head>
	
	<title>Ayuda</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
	
	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<div class="info_usuario2" id="foto_usuario">

						<img id="borda_foto" src="imagens/foto_usuario.png">

					</div>
					
					<div class="info_usuario2 dados_projetos">

						<p class="info">Olá  <b>Victor Vernilli</b></p>

						<a href="perfil_usuario.html"><i>perfil</i></a>

						<a id="saida" href="home.html"><i>sair</i></a>

					</div>

				</div>
				
			</div>

			<a href="home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_novo_projeto">
		
			<div class="ban_verde">

				<p class="titulo_bandeira"><i>dados do projeto</i></p>

			</div>

			<p class="numero_maior info_new_projeto">Informações referentes ao seu projeto</p>

			<p class="subtitulos dados_projetos">* campos obrigatórios</p>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Nome do Projeto *</b></p>

				<p class="subtitulos dados_projetos">Não ultrapasse 30 caracteres</p>

				<input name="novo_nome_projeto"class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Objetivo do Projeto *</b></p>

				<p class="subtitulos dados_projetos">Não ultrapasse 50 caracteres</p>

				<textarea name="novo_resumo_projeto" class="tamanho_input1 tamanho_input2"></textarea>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Quanto você pretende arrecadar? *</b></p>

				<p class="subtitulos dados_projetos">Apenas números.</p>

				<input name="novo_quantdinheiro_projeto" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Data de Início *</b></p>

				<p class="subtitulos dados_projetos">Ex: DD/MM/AAAA</p>

				<input name="novo_data_inicio" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Data de Término *</b></p>

				<p class="subtitulos dados_projetos">O prazo máximo para deixar o projeto no ar é de 60 dias. <br>Ex: DD/MM/AAAA</p>

				<input name="novo_data_fim" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Foto do Projeto *</b></p>

				<p class="subtitulos dados_projetos">Foto para aparecer no resumo do projeto. Tamanho 200x150</p>

				<input name="novo_foto_projeto" class="tamanho_input1" type="text"/>

				<a href="">Procurar</a>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Video</b></p>

				<p class="subtitulos dados_projetos">O seu vídeo precisa estar hospedado no YouTube.</p>

				<input name="novo_video_projeto" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Descreva todo seu Projeto *</b></p>

				<p class="subtitulos dados_projetos">Mostre todo o projeto para nós. Essa informações irão aparecer na página do projeto.<br>Não ultrapasse	 500 caractéres.</p>

				<textarea name="novo_tudo_projeto"class="tamanho_input1 tamanho_input3"></textarea>

			</div>

			<button name="enviar_novo_projeto" id="atualizar"></button>

		</div>

		<div class="caixam" id="rodape">

			<a href="home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>

</html>