@(voluntario: models.entity.Voluntario, usuario: models.entity.Usuario)
<html>

<head>
	
	<title>Ayuda - Suas Informações</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
	
	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="/home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="/home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<div class="info_usuario2" id="foto_usuario">

						<img id="borda_foto" src="imagens/foto_usuario.png">

					</div>
					
					<div class="info_usuario2 dados_projetos">

						<p id="info">Olá  <b>@voluntario.nome</b></p>

						<a href="perfil_usuario.html"><i>perfil</i></a>

						<a id="saida" href="/logoff.html"><i>sair</i></a>

					</div>

				</div>
				
			</div>

			<a href="/home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="/cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="/login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_novo_projeto">
		
			<div class="ban_verde">

				<p class="titulo_bandeira"><i>editar perfil</i></p>

			</div>

			<form method="POST">

				<div class="info_new_projeto">

					<p class="titulo_caixinhas dados_projetos"><b>Nome completo</b></p>

					<p class="subtitulos dados_projetos">Seu nome. No máximo 50 caracteres</p>

					<input name="nome" class="tamanho_input1" type="text" value="@voluntario.nome"/>

				</div>

				<div class="info_new_projeto">

					<p class="titulo_caixinhas dados_projetos"><b>CPF</b></p>

					<p class="subtitulos dados_projetos">Apenas números</p>

					<input name="CPF" class="tamanho_input1" type="text" value="@voluntario.CPF"/>

				</div>

				<div class="info_new_projeto">

					<p class="titulo_caixinhas dados_projetos"><b>Telefone</b></p>

					<p class="subtitulos dados_projetos">Apenas números</p>

					<input name="telefone" class="tamanho_input1" type="text" value="@voluntario.telefone"/>

				</div>

				<div class="info_new_projeto">

					<p class="titulo_caixinhas dados_projetos"><b>E-mail</b></p>

					<p class="subtitulos dados_projetos">Seu e-mail. No máximo 50 caracteres</p>

					<input name="usuario" class="tamanho_input1" type="text" value="@usuario.usuario"/>

				</div>

				<div class="info_new_projeto">

					<p class="titulo_caixinhas dados_projetos"><b>Trocar senha</b></p>

					<p class="opcoes dados_projetos">Nova senha</p>

					<p class="subtitulos dados_projetos">Não ultrapasse 20 caracteres</p>

					<input name="usuario_trocar_senha" class="tamanho_input1" type="password"/>

					<p class="opcoes dados_projetos">Confirme nova senha</p>

					<input name="senha" class="tamanho_input1" type="password"/>

				</div>

				<button name="usuario_enviar" id="enviar"></button>
			</form>

		</div>

		<div class="caixam" id="rodape">

			<a href="/home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>

</html>