<html>

<head>
	
	<title>Ayuda - Suas Informações</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
	
	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<div class="info_usuario2" id="foto_usuario">

						<img id="borda_foto" src="imagens/foto_usuario.png">

					</div>
					
					<div class="info_usuario2 dados_projetos">

						<p id="info">Olá  <b>Victor Vernilli</b></p>

						<a href="perfil_usuario.html"><i>perfil</i></a>

						<a id="saida" href="home.html"><i>sair</i></a>

					</div>

				</div>
				
			</div>

			<a href="home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_novo_projeto">
		
			<div class="ban_verde">

				<p class="titulo_bandeira"><i>editar perfil</i></p>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Nome completo</b></p>

				<p class="subtitulos dados_projetos">Seu nome. No máximo 50 caracteres</p>

				<input name="usuario_nome" class="tamanho_input1" type="text" value="Victor Fernandes Vernilli"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>E-mail</b></p>

				<p class="subtitulos dados_projetos">Seu e-mail. No máximo 50 caracteres</p>

				<input name="usuario_email" class="tamanho_input1" type="text" value="victor_at_vernilli.com"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Trocar senha</b></p>

				<p class="opcoes dados_projetos">Nova senha</p>

				<p class="subtitulos dados_projetos">Não ultrapasse 20 caracteres</p>

				<input name="usuario_trocar_senha" class="tamanho_input1" type="password"/>

				<p class="opcoes dados_projetos">Confirme nova senha</p>

				<input name="usuario_trocar_confir_senha" class="tamanho_input1" type="password"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>CPF</b></p>

				<p class="subtitulos dados_projetos">Apenas números</p>

				<input name="usuario_cpf" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Cidade</b></p>

				<p class="subtitulos dados_projetos"></p>

				<input name="usuario_cidade" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Estado</b></p>

				<p class="subtitulos dados_projetos">Nome do estado por extenso</p>

				<input name="usuario_estado" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Data de nascimento</b></p>

				<p class="subtitulos dados_projetos">Ex: DD/MM/AAAA</p>

				<input name="usuario_data" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Algumas perguntas</b></p>

				<p class="subtitulos dados_projetos">Queremos saber um pouco mais sobre você. Responda se quiser.</p>

				<p class="opcoes dados_projetos">1)Você já participou de algum tipo de atividade feito por ONG?</p>

				<input class="margin_left" type="radio" name="group1" value=""> Sim<br>
				<input class="margin_left" type="radio" name="group1" value=""> Não<br>

				<p class="opcoes dados_projetos">2)Qual tipo de campanha te interessa mais?</p>

				<input class="margin_left" type="checkbox" name="tipo" value=""> Para animais<br>
				<input class="margin_left" type="checkbox" name="tipo" value=""> Para crianças carentes<br>
				<input class="margin_left" type="checkbox" name="tipo" value=""> Para idosos<br>
				<input class="margin_left" type="checkbox" name="tipo" value=""> Arrecação de alimentos<br>
				<input class="margin_left" type="checkbox" name="tipo" value=""> Mutirões de reforma

				<p class="opcoes dados_projetos">3)Relate brevemente uma experiência como volutário?</p>

				<textarea name="usuario_resposta3"class="tamanho_input1 tamanho_input2"></textarea>

				<p class="opcoes dados_projetos">4)Por que você se cadastrou na plataforma?</p>

				<textarea name="usuario_resposta3"class="tamanho_input1 tamanho_input2"></textarea>

			</div>

			<button name="usuario_enviar" id="enviar"></button>

		</div>

		<div class="caixam" id="rodape">

			<a href="home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>

</html>