<html>

<head>
	
	<title>Ayuda</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
	
	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="/home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="/home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<div class="info_usuario2" id="foto_usuario">

						<img id="borda_foto" src="imagens/foto_usuario.png">

					</div>
					
					<div class="info_usuario2 dados_projetos">

						<p class="info">Olá  <b>Victor Vernilli</b></p>

						<a href="perfil_usuario.html"><i>perfil</i></a>

						<a id="saida" href="/logoff.html"><i>sair</i></a>

					</div>

				</div>
				
			</div>

			<a href="/home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="/cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="/login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_novo_projeto">
		
			<div class="ban_verde">

				<p class="titulo_bandeira"><i>editar perfil</i></p>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Nome da Instituição</b></p>

				<p class="subtitulos dados_projetos">Seu nome. No máximo 30 caracteres</p>

				<input name="ong_nome" class="tamanho_input1" type="text" value="Victor Fernandes Vernilli"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>E-mail</b></p>

				<p class="subtitulos dados_projetos">Seu e-mail. No máximo 50 caracteres</p>

				<input name="ong_email" class="tamanho_input1" type="text" value="victor_at_vernilli.com"/>

			</div>

			<div class="info_new_projeto">

				<!--<p class="titulo_caixinhas dados_projetos"><b>Trocar senha</b></p>-->

				<p class="opcoes dados_projetos">Nova senha</p>

				<p class="subtitulos dados_projetos">Não ultrapasse 20 caracteres</p>

				<input name="ong_trocar_senha" class="tamanho_input1" type="password"/>

				<p class="opcoes dados_projetos">Confirme nova senha</p>

				<input name="ong_trocar_confir_senha" class="tamanho_input1" type="password"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>CNPJ</b></p>

				<p class="subtitulos dados_projetos">Apenas números</p>

				<input name="ong_cnpj" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Atuação</b></p>

				<p class="subtitulos dados_projetos">Qual a área de atuação da ONG</p>

				<input name="ong_atuacao" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Endereço</b></p>

				<p class="subtitulos dados_projetos">Onde a ONG se encontra</p>

				<input name="ong_endereco" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Responsável</b></p>

				<p class="subtitulos dados_projetos">Quem é o responsável pela ONG no Ayuda</p>

				<input name="usuario_data" class="tamanho_input1" type="text"/>

			</div>

			<div class="info_new_projeto">

				<p class="titulo_caixinhas dados_projetos"><b>Descrição</b></p>

				<p class="subtitulos dados_projetos">Descreva brevementa a instituição. No máximo 100 caractéres</p>

				<textarea name="ong_descricao"class="tamanho_input1 tamanho_input2"></textarea>

			</div>

			<button name="ong_enviar" id="enviar"></button>

		</div>

		<div class="caixam" id="rodape">

			<a href="/home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>

</html>