<html>

<head>
	
	<title>Ayuda - Cadastre-se</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
	
	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<p id="info"><b>Olá Visitante.</b><br>Entre no Ayuda! Clicando <a href="cadastro.html"><b><i>AQUI</i></b></a></p>

				</div>
				
			</div>

			<a href="home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">
				
				<a href="cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_cadastro">
		
			<div class="ban_verde">

				<p class="titulo_bandeira"><i>entrar</i></p>

			</div>

			<div class="caixas">

				<div class="caixinhas" id="login">

					<p class="titulo_caixinhas"><b>Entrada de Usuário</b></p>
					<p class="subtitulos">caso o usuário já possua cadastro</p>
						
					<p class="opcoes"><b>E-mail</b></p>
					<input name="email_entrada_usuario" type="text"/>
						
					<p class="opcoes"><b>Senha</b></p>
					<input name="senha_entrada_usuario" type="password"/>
					
					<button name="botao_login_usuario" id="entrar"></button>

				</div>

			</div>

			<div class="caixas">

				<div class="barras"></div>

			</div>

			<div class="caixas">

				<div class="caixinhas" id="login">

					<p class="titulo_caixinhas"><b>Entrada de Instiruição</b></p>
					<p class="subtitulos">caso a ONG já possua cadastro</p>
						
					<p class="opcoes"><b>E-mail</b></p>
					<input name="email_entrada_ong" type="text"/>
						
					<p class="opcoes"><b>Senha</b></p>
					<input name="senha_entrada_ong" type="password"/>
					
					<button name="botao_login_ong" id="entrar"></button>

				</div>

			</div>

			<div class="caixas">

				<div class="barras"></div>

			</div>

			<div class="caixas">

				<div class="caixinhas" id="cadastro_redesocial">

					<p class="titulo_caixinhas"><b>Entre por uma rede social</b></p>
					<p class="subtitulos">acesso rápido</p>
						
					<p class="opcoes"><b>Utilizando Facebook</b></p>

					<p class="opcoes"><b>OU</b></p>

					<p class="opcoes"><b>Utilizando Twitter</b></p>
						
					<p class="opcoes"><b>OU</b></p>

					<p class="opcoes"><b>Utilizando Google+</b></p>

				</div>

			</div>

		</div>

		<div class="caixam" id="rodape">

				<a href="home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>
</html>