<html>

<head>

	<title>Ayuda</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="/home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="/home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<div class="info_usuario2" id="foto_usuario">

						<img id="borda_foto" src="imagens/foto_usuario.png">

					</div>
					
					<div class="info_usuario2 dados_projetos">

						<p id="info">Olá  <b>Victor Vernilli.</b></p>

						<a href="perfil_usuario.html"><i>perfil</i></a>

						<a id="saida" href="/logoff.html"><i>sair</i></a>

					</div>

				</div>
				
			</div>

			<a href="/home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="/cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="/login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

	</div>

</body>

</html>