<html>

<head>

	<title>Ayuda - Projeto Ano Valioso</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<p id="info"><b>Olá Visitante.</b><br>Entre no Ayuda! Clicando <a href="cadastro.html"><b><i>AQUI</i></b></a></p>

				</div>
				
			</div>

			<a href="home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_pagamento">

			<div class="ban_grande">

				<p class="titulo_bandeira"><i>Projeto Ano Valioso</i></p>

			</div>

			<p class="letras_pretas" id="organizador"><i>por Grupo Ambientalista da Bahia</i></p>

			<div class="info_new_projeto imagem_boneco">

				<img src="imagens/foto.png">

			</div>		

			<div class="imagem_boneco margem_top" id="fundo_branco">

				<div class="textosprojetos2">

					<p class="titulo_projeto2"><b>Resumo do projeto</b></p>

					<p class="resumo_projeto2">Lorem ipsum dolor sit amet, conetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</p>

				</div>

				<div class="imagem_boneco apoio_financ">

					<div class="barra_progresso" id="organizador">

						<div class="barra_verde">

						</div>

					</div>

				</div>

				<div class="imagem_boneco">

					<p class="valor"><b>R$ 1.329,00</b></p>
				
				</div>

				<div class="imagem_boneco apoio_financ margintop">

					<p class="levantados">levantados</p>

				</div>

				<div class="imagem_boneco">

					<p class="dias_urgente"><b>10 dias</b></p>

				</div>

				<div class="imagem_boneco apoio_financ margintop">

					<p class="restantes">restantes</p>

				</div>
					
			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 5,00</b></p>

			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 10,00</b></p>

			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 15,00</b></p>

			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 25,00</b></p>

			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 50,00</b></p>

			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 75,00</b></p>

			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 100,00</b></p>

			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 250,00</b></p>

			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 500,00</b></p>

			</div>

			<div class="fundo_branco2 botoes_pagamento info_new_projeto margem">

				<p class="titulo_caixinhas2"><b>R$ 1000,00</b></p>

			</div>

		</div>

		<div class="caixam" id="rodape">

				<a href="home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>

</html>