<html>

<head>
	
	<title>Ayuda - Seu Perfil</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
	
	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<div class="info_usuario2" id="foto_usuario">

						<img id="borda_foto" src="imagens/foto_usuario.png">

					</div>
					
					<div class="info_usuario2 dados_projetos">

						<p id="info">Olá  <b>Victor Vernilli.</b></p>

						<a href="perfil_usuario.html"><i>perfil</i></a>

						<a id="saida" href="home.html"><i>sair</i></a>

					</div>

				</div>
				
			</div>

			<a href="home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>
		<div class="caixam" id="caixa_perfil">
		
			<div class="ban_verde">
		
				<p class="titulo_bandeira"><i>perfil</i></p>

			</div>

			<div class="caixas_perfil" id="foto_perfil" >

				<img id="borda_foto" src="imagens/foto_usuario2.png">

				<p class="titulo_caixinhas"><b>Victor Vernilli</b></p>
				<p class="subtitulos"><b><i>Recife, Pernambuco</i></b></p>

			</div>

			<div class="caixas_perfil">

				<div class="titulo_caixinhas">

					<a class="opcoes_perfil" href="info_usuario.html"><b>Minhas Informações</b></a>

				</div>

				<div class="titulo_caixinhas">

					<a class="opcoes_perfil" href="home.html"><b>Sair</b></a>

				</div>

			</div>

		</div>

		<div class="caixam" id="rodape">

				<a href="home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>
</html>