<html>

<head>

	<title>Ayuda - Projeto Ano Valioso</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

	<div class="tudo">
		
		<div id="menu">

			<div class="menus" id="flag_esquerda">

				<a href="/home.html"><div class="item_menus" id="os_projetos"></div></a>
				
				<a href="/home.html"><div class="item_menus" id="quem_somos"></div></a>

				<div class="info_usuario" id="visitante">

					<p id="info"><b>Olá Visitante.</b><br>Entre no Ayuda! Clicando <a href="/cadastro.html"><b><i>AQUI</i></b></a></p>

				</div>
				
			</div>

			<a href="/home.html"><div class="menus" id="logo"></div></a>
			

			<div class="menus" id="flag_direita">

				<a href="/cadastro.html"><div class="item_menus" id="cadastro"></div></a>
				
				<a href="/login.html"><div class="item_menus" id="entrar_ayuda"></div></a>
				
			</div>

		</div>

		<div class="caixam" id="caixa_projeto">

			<div class="ban_grande">

				<p class="titulo_bandeira"><i>Projeto Ano Valioso</i></p>

			</div>

			<p class="letras_pretas" id="organizador"><i>por Grupo Ambientalista da Bahia</i></p>

			<div class="video_youtube_projeto" id="resumo_projeto">

				<div class="img_num">

					<div class="imagem_boneco">

						<img src="imagens/bonecos.png">

					</div>

					<div class="imagem_boneco">

						<p class="numero_maior_menores">13</p>

					</div>

					<p class="letras_pretas"><i>pessoas já apoiaram</i></p>

				</div>

				<div class="img_num">

					<div class="imagem_boneco">

						<img src="imagens/clock.png">

					</div>

					<div class="imagem_boneco">

						<p class="numero_maior_menores">8</p>

					</div>

					<p class="letras_pretas"><i>dias restantes</i></p>

				</div>

				<div class="img_num">

					<img src="imagens/money.png">

					<p class="numero_maior">R$ 12.560,00</p>

					<p class="letras_pretas"><i>atingidos de R$ 20.500,00</i></p>

				</div>

				<div id="caixa_letrinhas">

					<p id="letrinhas">Este projeto só será financiado se pelo menos R$ 20.500,00 forem atingidos até 30/08/2013.
					Você receberá uma recompensa especial! Caso contrário, seu dinheiro será devolvido.</p>

				</div>

			</div>

			<div class="video_youtube_projeto" id="tamanho_video_projeto">

				<iframe width="600" height="370" src="http://www.youtube.com/embed/q7DijhyUSAU"></iframe>

				<a href="">
					<div class="botoes_apoio apoio_financ">

						<img src="imagens/apoio_financ.png">

					</div>

				</a>

				<a href="">

					<div class="botoes_apoio">

						<img src="imagens/apoio_volun.png">

					</div>
				
				</a>

			</div>

			<div class="ban_grande">

				<p class="titulo_bandeira"><i>O projeto</i></p>

			</div>			

		</div>

		<div class="caixam" id="rodape">

				<a href="/home.html"><div id="logo_rodape"></div></a>

		</div>

	</div>

</body>

</html>